.existing-property {
  background-color: #f8f9fa !important;
}

.new-property {
  background-color: #b6c8ec !important;
}

.existing-object {
  background-color: #f8f9fa !important;
}

.new-object {
  background-color: #b6c8ec !important;
}

.existing-source {
  background-color: #f8f9fa !important;
}

.new-source {
  background-color: #b6c8ec !important;
}

.new-source .wikibase-toolbar-container {
  width: 21em !important;
}

/* show reference heading which is otherwise only visible in edit mode */
.wikibase-referenceview div.wikibase-referenceview-heading {
  display: block;
}

.wikibase-referenceview .wikibase-snaklistview-listview .wikibase-snakview {
  min-height: 2.1em;
}

.mw-notification-tag-ps-error {
  background-color: #fee7e6 !important;
  border: 1px solid #b32424 !important;
}

#ps-config-button {
  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAgCAQAAACI54EcAAAAAnNCSVQICFXsRgQAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAABWklEQVQoz42RwWrCQBBAc/PkyXiQfpEXobKzEsipCkKh5CBUhBBmaWrw6j/oIQr6VeaSXzDpZDbZ1CWVMhBm5zGT2X1O6fwdv1L0saTwLajmar0d4JHh6XuEofqooVpiQcU7ozbeGWJklXVEGrrcWWKOCUXOeYEuQeXhQaNdv/rPrl/jFH3HjEnM1klTa2FsYNzCBV45zfa9Cu17mPH5gm903A7rhW60d0Rf7opf9D03nVf50jCwyjxHrZvnCzCkR0sZndFVK/y0Hl7NGC46rTxV9hRKH0oope0T5nL9OhDHCsJpOhKhaHyKJRRUvDMyIbRPiB7LdWifnsudJeSQUOScF17lU3pw0GjCPid9jWUqfceMMT6pu6610PiE2ECxgCun2Zh9jnuQ8fkiK58wrBe60d4RfXWf9ik2XVeR2icEFuA5svEJgQinI5kyOnuuWAnbJ8z42f7r8wfhovZYX3llNQAAAABJRU5ErkJggg==) no-repeat right top;
  height: 16px;
  width: 14px;
  float: right;
  cursor: pointer;
}

#n-ps-anchor-btt{
  font-size: 0.75em;
}

.preview-button{
  max-width: 80%;
  display: block;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: capitalize;
  color: #FFFFFF;
  background: #161616;
  border: 0 none;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /*fallback*/
  background-color: rgba(0,0,0, 0.88);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay ul{
  list-style-type: none;
  list-style-image: none;
}

.overlay h1{
  font-size: 1.6vmax;
  overflow-wrap: break-word;
  margin-top: 10px;
  color: white;
}

.overlay h1 a {
  text-decoration: none;
  color: #FF0000;
  cursor: pointer; 
  cursor: hand;
}

.overlay .f2w-button{
  padding: 3px 5px 3px 5px;
  margin: 2px 3px 10px 3px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;
  color: black;
  background: white;
  border: 0 none;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  padding: 8px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#blackboard{
  margin: 40px auto;
  max-width: 650px;
  line-height:1.6;
  font-size: 18px;
  color: white;
  padding: 0 10px;
  font-family: 'Lato', sans-serif;
}

.highlight{
  color:black;
  background-color:yellow;
  font-style: italic;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.loader {
  border: 16px solid white;
  border-top: 16px solid black;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 30px auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
